<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>	
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body class="container__contacto">
	<header class="nav">
		<a href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>	
		<nav>
			<ul class="nav__list">
				<li class="nav__item"><a href="../index.html">Home</a></li>
				<li class="nav__item"><a href="sobre_nosotros.html">Historia</a></li>
				<li class="nav__item"><a href="productos.html">Productos</a></li>
				<li class="nav__item"><a href="inicio_sesion.html">Mi Cuenta</a></li>
				<li class="nav__item"><a href="#">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<main class="video" id="video">
		<!-- VIDEO ORIGINAL, SUTIL DE BACKGROUND SOBRE EL CAMPO O VIDEO CON FOTOS DEL CAMPO CAMBIANDO POR SEG-->
		<video loop autoplay muted preload="auto" class="videoA"> 
			<source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4">
		</video>	
	</main>			
		<div class="titulo">
			<h1>Contacto</h1>		
		</div>
		<section class="presentacion">
			<p class="contacto">Nuestro equipo comercial se encuentra disponible para ampliar las inquietudes de clientes que ya operaron con la empresa y de productores nuevos interesados en nuestros productos. No dude en contactarse con nosotros para conocer más sobre nuestro programa de Remates Anuales y Ventas Particulares, como asi también sobre las formas y plazos de pago de reproductores, semen y embriones. Les sugerimos contactarse de la siguiente forma: </p>		
		</section>
			<div class="form">
				<form action="#">
					<div class="gridP">
						<div class="inputContacto">
							<input class="inputItem" type="text" name="nombre" placeholder="Nombre">
						</div>
						<div class="inputContacto">
							<input class="inputItem" type="text" name="apellido" placeholder="Apellido">
						</div>
					</div>
					<div class="gridS">		
							<div class="inputContacto">
								<input class="inputItem" type="email" name="email" placeholder="Email">
							</div>
						<div class="consulta">Tipo de consulta:
							<select name="consulta" id="consulta">
								<option value="semen">SEMEN</option>
								<option value="embriones">EMBRIONES</option>
								<option value="otro">OTRO</option>
							</select>
						</div>
					</div>
					<div class="comentarios">
						<textarea class="inputText"  name="comentarios" id="comentarios" placeholder="Escriba su Consulta"></textarea>
						<input class="button" type="submit" value="ENVIAR">
					</div>	
				</form>	
				</div>			
			</div>
	<footer class="footer">
		<div class="arreglo">
			<a href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>		
		</div>
		<div>
			<a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>	
			<a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a>	
		</div>
			<a href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
	</footer>
</body>
</html>