<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Cuenta</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body class="bodyIS">
	<header class="nav">
		<a href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>	
		<nav>
			<ul class="nav__list">
				<li class="nav__item"><a href="../index.html">Home</a></li>
				<li class="nav__item"><a href="sobre_nosotros.html">Historia</a></li>
				<li class="nav__item"><a href="productos.html">Productos</a></li>
				<li class="nav__item"><a href="#">Mi Cuenta</a></li>
				<li class="nav__item"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>		
		<div class="tituloIS">
			<h1>Inicia Sesion</h1>
		</div>
	<main class="video" id="video">
		<!-- VIDEO ORIGINAL, SUTIL DE BACKGROUND SOBRE EL CAMPO O VIDEO CON FOTOS DEL CAMPO CAMBIANDO POR SEG-->
		<video loop autoplay muted preload="auto"> 
			<source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4">
		</video>	

			<form class="is" action="#">
				<div class="centrado">
					<input class="usuario" type="text" name="Usuario" placeholder="Usuario">
					<input class="contrasena" type="password" name="Contrasena" placeholder="Contrasena">
				</div>
				<div class="buttonIS">
					<input  type="submit" value="Ingresar">
				</div>
			</form>	
		</main>	
	<!-- <footer class="footer"> 
		<div class="arreglo">
			<a href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>		
		</div>
		<div>
			<a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>	
			<a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a>	
		</div>
			<a href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
	</footer>-->
	</body>
</html>