<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicio</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
<body>
<body class="container__productos">
	<header class="nav">
		<a href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>	
		<nav>
			<ul class="nav__list">
				<li class="nav__item"><a href="../index.html">Home</a></li>
				<li class="nav__item"><a href="sobre_nosotros.html">Historia</a></li>
				<li class="nav__item"><a href="#">Productos</a></li>
				<li class="nav__item"><a href="inicio_sesion.html">Mi Cuenta</a></li>
				<li class="nav__item"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<main class="video" id="video">
		<!-- VIDEO ORIGINAL, SUTIL DE BACKGROUND SOBRE EL CAMPO O VIDEO CON FOTOS DEL CAMPO CAMBIANDO POR SEG-->
		<video loop autoplay muted preload="auto" class="videoA"> 
			<source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4">
		</video>	
	</main>	
		<div class="titulo">
			<h1>Productos</h1>
		</div>
		<section class="tablas__preciosMachos">
				<div class="titulo__secundarioM">
					<h3 class="titulo__producto">Semen</h3>
				</div>
				<div class="tablaM">
					<table class="font__cabecera" border="1">
						<tr >
							<th>Numero</th>
							<th>Nombre</th>
							<th>Precio por pajuela</th>
							<th>Precio por 100 pajuelas</th>
						</tr>
						<tr>
							<td>654</td>
							<td>Invictus</td>
							<td>U$D120</td>
							<td>U$D11000</td>
						</tr>
						<tr>
							<td>989</td>
							<td>Capo</td>
							<td>U$D80</td>
							<td>U$D7500</td>
						</tr>
						<tr>
							<td>963</td>
							<td>Conan</td>
							<td>U$D200</td>
							<td>U$D19000</td>
						</tr>	
					</table>
				</div>
		</section>
		<section class="tablas__preciosHembras">
				<div class="titulo__secundarioH">
					<h3 class="titulo__producto">Embriones</h3>
				</div>
				<div class="tablaH">
					<table class="font__cabecera" border="1">
						<tr >
							<th>Numero</th>
							<th>Nombre</th>
							<th>Precio por embrion</th>
							<th>Precio por 100 embriones</th>
						</tr>
						<tr>
							<td>143</td>
							<td>Lila</td>
							<td>U$D50</td>
							<td>U$D4800</td>
						</tr>
						<tr>
							<td>251</td>
							<td>Athenea</td>
							<td>U$D60</td>
							<td>U$D5700</td>
						</tr>
						<tr>
							<td>152</td>
							<td>Centu</td>
							<td>U$D40</td>
							<td>U$D3900</td>
						</tr>
					</table>
				</div>
		</section>
		<div class="titulo__galeria">
			<h2>Galeria</h2>
		</div>
		<div class="galeria">
			<img src="https://images.unsplash.com/photo-1500595046743-cd271d694d30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" alt="">
			<img src="https://images.unsplash.com/photo-1568038100292-c75e7d6b9d82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
			<img src="https://images.unsplash.com/photo-1583364428520-fa6c5013c0c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
			<img src="https://images.unsplash.com/photo-1577412032138-bbf147ceb80b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
			<img src="https://images.unsplash.com/photo-1578343585734-128df7c9fa35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="">
			<img src="https://images.unsplash.com/photo-1599357986767-48a861ef2b84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
		</div>
	<footer class="footer">
		<div class="arreglo">
			<a href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>		
		</div>
		<div>
			<a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>	
			<a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a>	
		</div>
			<a href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
	</footer>
</body>
</html>