<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Historia</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@400;500&display=swap" rel="stylesheet">	
	<link rel="stylesheet" type="text/css" href="../css/estilo.css">
</head>
<body class="container__historia">
	<header class="nav">
		<a href="../index.html"><img src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>	
		<nav>
			<ul class="nav__list">
				<li class="nav__item"><a href="../index.html">Home</a></li>
				<li class="nav__item"><a href="#">Historia</a></li>
				<li class="nav__item"><a href="productos.html">Productos</a></li>
				<li class="nav__item"><a href="inicio_sesion.html">Mi Cuenta</a></li>
				<li class="nav__item"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
	</header>		
	<main class="video" id="video">
		<!-- VIDEO ORIGINAL, SUTIL DE BACKGROUND SOBRE EL CAMPO O VIDEO CON FOTOS DEL CAMPO CAMBIANDO POR SEG-->	
		<video loop autoplay muted preload="auto" class="videoA"> 
			<source src="../assets/videos/Limousin_Cows_2__Videvo.mp4" type="video/mp4" >
		</video>	
	</main>	
		<div class="tituloHistoria">
			<h1>Nuestra Historia</h1>
		</div>
		<section class="presentacionHistoria">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quae voluptatem aperiam earum nobis eum a in adipisci distinctio minus veniam, enim modi maxime voluptatibus iusto ipsa? Dolores, incidunt. Lorem,ipsum dolor sit amet consectetur adipisicing elit. Similique minima ipsum tempora recusandae exercitationem nam amet voluptatum reiciendis, molestias at id quam quos odio aperiam deserunt pariatur ab saepe esse!. Lorem ipsum dolor, sit, amet consectetur adipisicing elit.Iusto consequuntur doloribus veritatis tempora autem debitis, architecto, laborum itaque, aliquam quas ex placeat et pariatur voluptatem dicta maiores commodi repudiandae asperiores.</p>
		</section>
		<div class="tituloUbi">
			<h2>Ubicacion</h2>
		</div>
		<section class="presentacionUbi">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d887348.0539425297!2d-61.025664704110355!3d-29.684883948006412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb759c87f9b320ad7!2zMjnCsDIyJzIyLjQiUyA2McKwMjgnNDkuNSJX!5e0!3m2!1ses-419!2sar!4v1642901941894!5m2!1ses-419!2sar" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</section>
	<footer class="footer">
		<div class="arreglo">
			<a href="contacto.html" target="_blank"><h3>CONTACTO</h3></a>		
		</div>
		<div>
			<a href="#"><img src="https://icongr.am/fontawesome/instagram.svg?size=40&color=0b5606" alt="instagram"></a>	
			<a href="#"><img src="https://icongr.am/fontawesome/facebook-square.svg?size=40&color=0b5606" alt="facebook"></a>	
		</div>
			<a href="../index.html"><img class="logo" src="../assets/imagenes/LogoMakr-5TDpwB.png" alt="logo"></a>
	</footer>
</body>
</html>